# Sistema
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datos y artefactos generados
data/processed/
data/artifacts/

# Dataset bruto local
data/raw/ham10000/

# Logs
*.log

# Notebooks pesados/locales
notebooks/skin_lesions_classifier.ipynb
skin_lesions_classifier.ipynb
